services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: ny_taxi
    ports:
      - "5432:5432"

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -d ny_taxi"]
      interval: 5s
      timeout: 3s
      retries: 20

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - postgres

  ingest:
    build: .
    container_name: ingest
    environment:
      GREEN_TAXY_URL: ${GREEN_TAXY_URL}
      PGUSER: root
      PGPASSWORD: root
      PGHOST: postgres
      PGPORT: "5432"
      PGDATABASE: ny_taxi
    depends_on:
      postgres:
        condition: service_healthy
    restart: "no"

volumes:
  pgdata:
