# OS
.DS_Store
.idea
.history

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.python-version

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.venv/

# Secrets & credentials
credentials/
secrets/
*.gcp
*.pem
*.key
*.crt
*.p12
*.pfx
*.jks
google_credentials.json

# Bruin
.bruin.yml
logs/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*

# Data
data/

# Temp files
*.log
*.tmp
*.bak
*.swp
*.swo
*.zip
*.tar.gz
*.db
*.sqlite
*.sqlite3
*.out
*.err
*.pid
*.parquet
*.csv
